<div class="card text-start">
  <div class="card-body">
    <%= tag.h5 "Casa de Steve Jobs", class: "cart-title" %>
    <%= tag.h6 "Calle 40, CP: 1879", class: "cart-subtitle mb-2 text-muted" %>
    <%= tag.p "La Plata, Argentina", class: "card-text" %>

    <div class="text-end">
      <%= link_to "Modificar", "", class: "card-link" %>
      <%= link_to "Eliminar", "", class: "card-link" %>
    </div>
  </div>
</div>
