<%= turbo_frame_tag "new_address" do %>
  <%= form_with model: address,
                html: {
                  class: "mb-5 text-start",
                  data: {
                    controller: "form",
                    action: "turbo:submit-end->form#reset"
                  }
                } do |f| %>
    <% if address.errors.any? %>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-danger alert-dismissible fade show shadow" role="alert">
            <div class="row no-glutters">
              <div class="col-12 text-start">
                <ul>
                  <% address.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :title, "Título de dirección:", class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
      <%= tag.div "Descripción de la dirección", class: "form-text" %>
    </div>

    <div class="row mb-3">
      <div class="col-8">
        <%= f.label :street, "Calle (Avenida) (sin número):", class: "form-label" %>
        <%= f.text_field :street, class: "form-control" %>
      </div>

      <div class="col-4">
        <%= f.label :street_number, "Número:", class: "form-label" %>
        <%= f.text_field :street_number, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <%= f.label :appt_floor, "Piso:", class: "form-label" %>
        <%= f.text_field :appt_floor, class: "form-control" %>
      </div>

      <div class="col-6">
        <%= f.label :appt_number, "Dto/Oficina:", class: "form-label" %>
        <%= f.text_field :appt_number, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-5">
        <div class="form-floating mt-2">
          <%= select_tag "country",
                        options_for_select(Country.order(:name).pluck(:name, :id)),
                        include_blank: true,
                        data: {
                          controller: "regions",
                          action: "change->regions#handleSelectChange",
                          targetbox: "address_state_id"
                        },
                        class: "form-control" %>
          <%= label_tag "country", "País:" %>
        </div>
      </div>

      <div class="col-5">
        <div class="form-floating mt-2">
          <%= f.select :state_id,
                        options_for_select(State.order(:name).pluck(:name, :id)),
                        { include_blank: true },
                        {
                          data: {},
                          disabled: true,
                          class: "form-control"
                        } %>
          <%= f.label :state_id, "Provincia:" %>
        </div>
      </div>

      <div class="col-2">
        <%= f.label :zipcode, "Código postal:", class: "form-label" %>
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-4 mx-auto text-center">
        <%= link_to "Volver", addresses_path, class: "btn btn-outline-dark" %>
        <%= f.submit "Confirmar", data: { "form-target": "button" }, class: "btn btn-dark" %>
      </div>
    </div>
  <% end %>
<% end %>
