<h1 class="display-7 fw-bold mb-4">Hotwire en la practica</h1>

<div class="row justify-content-evenly mt-5">
  <div class="col-8 mx-auto">
    <div class="mb-5">
      <%= turbo_frame_tag "new_address" do %>
        <%= link_to "Agregar dirección", new_address_path, class: "btn btn-sm btn-dark" %>
      <% end %>
    </div>

    <%= tag.h4 "Mis direcciones", class: "text-start mb-3" unless @addresses.nil? %>

    <%= turbo_frame_tag "addresses" do %>
      <%= render partial: "addresses/address", collection: @addresses %>
    <% end %>
  </div>
</div>
